h1= @bulletin.name
p Description: #{@bulletin.description}
p Category: #{@bulletin.category.name}
p Author: #{@bulletin.author.full_name}
p Photo:
- if @bulletin.photo_attachment
  = image_tag(@bulletin.photo, class: 'img-thumbnail')

hr

- if policy(@bulletin).edit?
  p= link_to 'Edit', edit_bulletin_path(@bulletin)
- if policy(@bulletin).destroy?
  p= link_to 'Delete', bulletin_path(@bulletin), method: :delete, data: { confirm: 'Are you sure ?' }

p= link_to t('back'), root_path, class: 'btn btn-outline-primary'
